@model HPlusSports.Web.ViewModels.OrderListViewModel
@using HPlusSports.Core 
@{ 
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>
<h4><a asp-action="Create">Create New</a></h4>
<table style="border-spacing:1.5em;border-collapse:inherit">
    <thead>
        <tr>
            <td> Customer Name </td>
            <td> Previous Order Dates </td> 
            <td> Total Due </td>
            <td> Status </td>
            <td> Order Date </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td><a asp-action="Customer" asp-route-id="@order.CustomerId" >
                    @order.CustomerName</a></td>
                <td> @order.PreviousOrderDates </td>
                <td> @order.TotalDue </td>
                <td> @order.Status </td>
                <td> @order.OrderDate </td>
            </tr>
        }
    </tbody>
</table>