@model HPlusSports.Web.ViewModels.OrderListViewModel
@{ 
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>
<h4><a asp-action="Create">Create New</a></h4>
<table style="border-spacing:1.5em;border-collapse:inherit">
    <thead>
        <tr>
            <td> Customer Name </td>
            <td> Total Due </td>
            <td> Status </td>
            <td> Order Date </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td><a asp-action="Customer" asp-route-id="@order.Customer.Id" >@order.Customer.FirstName @order.Customer.LastName</a></td>
                <td> @order.TotalDue?.ToString("f2") </td>
                <td> @order.Status </td>
                <td> @order.OrderDate.ToString("d") </td>
            </tr>
        }
    </tbody>
</table>